###> PostgreSQL ###
POSTGRES_ROOT_PASSWORD=app_password
POSTGRES_USERNAME=app_user
POSTGRES_DATABASE=postgre_php
###< PostgreSQL ###

###> pgadmin ###
PGADMIN_DEFAULT_EMAIL: admin@example.com
PGADMIN_DEFAULT_PASSWORD: admin
###< pgadmin ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app_user:app_password@postgres:5432/postgre_php?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f
###< symfony/messenger ###
